@import 'reset.css';

:root {
  /* Colors */
  --color-black: #202124;
  --color-gray: #343a3f;
  --color-white: #ffffff;
  --color-blue: #378eb3;
  --color-light-gray: #677880;
  --color-orange: #e9a19a;
  --color-red: #b3374d;
  --color-pink: #e9aabc;
  --color-purple: #b3449c;
  --color-deep-blue: #0b293b;

  /* Size */
  --size-colors-container: 200px;
  --size-title: 30px;
  --size-button-font: 22px;

  /* Animation */
  --transition-duration: 300ms;
}

body {
  background: url('imgs/background.png');
  object-fit: cover;
  background-position: center;
  display: flex;
}

h1 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 20px;
  color: var(--color-white);
}

.canvas__section {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

#canvas {
  border-radius: 10px;
}

.control__section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 450px;
}

.control__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-deep-blue);
  width: 330px;
  height: 900px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.65);
}

.control__colors__container,
.control__line-width,
.control__image,
.control__rotate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.control__colors__container {
  margin-top: 25px;
}

.control__colors {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 25px 0;
}

.color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.color:hover {
  cursor: pointer;
}

.color.black {
  background-color: var(--color-black);
  left: calc(var(--size-colors-container) / 2);
}

.color.black:active {
  box-shadow: inset 5px 5px 10px #101112, inset -5px -5px 10px #303136;
}

.color.white {
  background-color: var(--color-white);
  left: calc(1.71 * var(--size-colors-container) / 2);
  top: calc(0.29 * var(--size-colors-container) / 2);
}

.color.white:active {
  box-shadow: inset 5px 5px 5px #a6a6a6, inset -5px -5px 5px #ffffff;
}

.color.blue {
  background-color: var(--color-blue);
  left: var(--size-colors-container);
  top: calc(var(--size-colors-container) / 2);
}

.color.blue:active {
  box-shadow: inset 5px 5px 10px #1b4658, inset -5px -5px 10px #53d6ff;
}

.color.lightGray {
  background-color: var(--color-light-gray);
  left: calc(1.71 * var(--size-colors-container) / 2);
  top: calc(1.71 * var(--size-colors-container) / 2);
}

.color.light-gray:active {
  box-shadow: inset 5px 5px 10px #323b3f, inset -5px -5px 10px #9cb5c1;
}

.color.orange {
  background-color: var(--color-orange);
  left: calc(var(--size-colors-container) / 2);
  top: var(--size-colors-container);
}

.color.orange:active {
  box-shadow: inset 5px 5px 5px #976964, inset -5px -5px 5px #ffd9d0;
}

.color.red {
  background-color: var(--color-red);
  left: calc(0.29 * var(--size-colors-container) / 2);
  top: calc(1.71 * var(--size-colors-container) / 2);
}

.color.red:active {
  box-shadow: inset 5px 5px 10px #5b1c27, inset -5px -5px 10px #ff5273;
}

.color.pink {
  background-color: var(--color-pink);
  top: calc(var(--size-colors-container) / 2);
}

.color.pink:active {
  box-shadow: inset 5px 5px 5px #976f7a, inset -5px -5px 5px #ffe6fe;
}

.color.purple {
  background-color: var(--color-purple);
  left: calc(0.29 * var(--size-colors-container) / 2);
  top: calc(0.29 * var(--size-colors-container) / 2);
}

.color.purple:active {
  box-shadow: inset 5px 5px 10px #58214c, inset -5px -5px 10px #ff67ec;
}

.fill-btn {
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
  position: absolute;
  left: calc(var(--size-colors-container) / 2);
  top: calc(var(--size-colors-container) / 2);
  border: none;
  border-radius: 50%;
  background: var(--color-deep-blue);
  box-shadow: 8px 8px 16px #06161f, -8px -8px 16px #103c57;
  color: var(--color-white);
  font-family: 'Oswald', sans-serif;
  font-size: var(--size-button-font);
  transition: all var(--transition-duration) ease-in-out;
}

.fill-btn.active,
.fill-btn:active {
  box-shadow: inset 8px 8px 16px #06161f, inset -8px -8px 16px #103c57;
}

.fill-btn:hover {
  cursor: pointer;
}

.control__line-width,
.control__image,
.control__rotate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.control__line-width__range {
  accent-color: var(--color-black);
  width: 200px;
}

.control__line-width__range:hover {
  cursor: pointer;
}

.control__image__container {
  display: flex;
  align-items: center;
}

.control__image__url {
  width: 200px;
  height: 30px;
  font-size: 18px;
}

.control__image__url::placeholder {
  font-size: 18px;
}

.import-btn-container {
  border: 2px solid var(--color-white);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-left: 10px;
}

.import-btn {
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-family: 'Oswald', sans-serif;
  color: var(--color-black);
  font-size: 13px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all var(--transition-duration) ease;
}

.import-btn:hover {
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 15px;
}

.control__rotate i {
  font-size: 35px;
  color: var(--color-white);
  transition: all var(--transition-duration) linear;
}

.control__rotate i:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.control__save__btn {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  background: var(--color-deep-blue);
  box-shadow: 8px 8px 16px #06161f, -8px -8px 16px #103c57;
  font-family: 'Oswald', sans-serif;
  font-size: var(--size-button-font);
  color: var(--color-white);
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control__save__btn:hover {
  cursor: pointer;
}

.control__save__btn:active {
  box-shadow: inset 8px 8px 16px #06161f, inset -8px -8px 16px #103c57;
}
